<div class="crud paginator pagination pagination-centered">
	<ul>
		<li ng-class="{disabled : !paginator.gotoFirstPage().enabled()}">
			<a ng-ampere-transition="paginator.gotoFirstPage()"></a>
		</li>
		<li ng-class="{disabled : !paginator.gotoPrevPageRange().enabled()}">
			<a ng-ampere-transition="paginator.gotoPrevPageRange()"></a>
		</li>
		<li ng-class="{disabled : !paginator.gotoPrevPage().enabled()}">
			<a ng-ampere-transition="paginator.gotoPrevPage()"></a>
		</li>
		<li ng-repeat="page in paginator.getPageRange()" ng-class="{active : paginator.currentPageNumber()==page}">
			<a data-page="{{page}}" ng-ampere-transition="paginator.gotoPage()">{{page}}</a>
		</li>
		<li ng-class="{disabled : !paginator.gotoNextPage().enabled()}">
			<a ng-ampere-transition="paginator.gotoNextPage()"></a>
		</li>
		<li ng-class="{disabled : !paginator.gotoNextPageRange().enabled()}">
			<a ng-ampere-transition="paginator.gotoNextPageRange()"></a>
		</li>
		<li ng-class="{disabled : !paginator.gotoLastPage().enabled()}">
			<a ng-ampere-transition="paginator.gotoLastPage()"></a>
		</li>
	</ul>
</div>