<div class="ng-cloak ampere-module" nng-app="window.ov.ampere.ui.twitterbootstrap" ng-controller="amperetwitterbootstrap">
	<div class="container">
		<div class="ampere-state name-{{$ampere.view.state().name()}}">
		  	<div ng-ampere-state="" class="ampere-view name-{{$ampere.view.name()}}"></div>
		</div>
	</div>
	<div class="overlay"></div>
	<div class="container flash">
		<div class="alert alert-info alert-block fade in">
			<button type="button" class="close">×</button>
			<div class="message"></div>
			<div class="progress progress-striped active">
				<div class="bar" style="width: 100%;"></div>
			</div>
		</div>
	</div>
</div>