<!--
  Copyright (c) 2011 Lars Gersmann (lars.gersmann@gmail.com, http://orangevolt.blogspot.com)
  Dual licensed under the MIT (http://www.opensource.org/licenses/mit-license.php)
  and GPL (http://www.opensource.org/licenses/gpl-license.php) licenses.
-->

<script id="ampere_theme_mobile_fragment_transition" type="text/x-jquery-tmpl">
	{{if !$item.layout || $item.layout=='button'}}
	<button 
		class="transition ${options('name')}" 
		type="button"
		data-options='{ {{if options('icon')}}"icons" : { "primary" : "${options('icon')}"} {{/if}} {{if !$data.options('title')}}${ options('icon') ? ', ' : ''} "text" : false{{/if}} }'
		{{if !$data.isEnabled()}} {{! if !isEnabled() fails right now : see https://github.com/jquery/jquery-tmpl/issues/issue/40/#comment_658509}}
			disabled="disabled"
		{{/if}}	
	>
		${options( 'title')} 
	</button>
	{{/if}}
</script>

<script id="ampere_theme_mobile_fragment_history" type="text/x-jquery-tmpl">
	{{if history}} 
	<div class="history buttonset">
		<button 
			class="undo" 
			type="button"
			data-options='{ "icons" : { "primary" : "ui-icon-arrowreturnthick-1-w"}}'
			{{if history.canUndo()}}
			onclick="$(this).module().history.undo()"
			{{else}}
			disabled="disabled"
			{{/if}}
		>
			Undo
		</button>
		<button 
			class="redo" 
			type="button"
			data-options='{ "icons" : { "primary" : "ui-icon-arrowreturnthick-1-e"}}'
			{{if history.canRedo()}}
			onclick="$(this).module().history.redo()"
			{{else}}
			disabled="disabled"
			{{/if}}			
		>
			Redo
		</button>
	</div>
	{{/if}}
</script>

<script id="ampere_theme_mobile_fragment_radio" type="text/x-jquery-tmpl">
	<label for="{{id( 'radio')}}">
	${ $data.label || $.ampere.ucwords(($data.value || '&nbsp;'))}
	</label>
	<input 
		type="radio" 
		name="${ name}" 
		id="{{id( 'radio')}}"
		data-options='{ {{if $data.icon}}"icons" : { "primary" : "${ $data.icon}"} {{/if}} {{if !$data.label}}${ $data.icon ? ',' : ''} "text" : false{{/if}} }'
		value="${ $data.value || ($data.label || 'on').toLowerCase()}"
	/>
</script>

<script id="ampere_theme_mobile_fragment_checkbox" type="text/x-jquery-tmpl">
	 
	<label for="{{id( 'checkbox')}}">
	${ $data.label || '&nbsp;'} 
	</label>
	
	<input 
		type="checkbox" 
		name="${ name}" 
		data-options='{ {{if $data.icon===undefined || $data.icon}}"icons" : { "primary" : "${ $data.icon || 'ui-icon-check'}"} {{/if}} {{if !$data.label}}, "text" : false{{/if}} }'
		id="{{id( 'checkbox')}}"
		value="${ ($data.value || true).toLowerCase()}"
	/>
</script>

<script id="ampere_theme_mobile_fragment_select" type="text/x-jquery-tmpl">
	{{if $data.label}}
	<label for="{{id( 'select')}}">
	${ $data.label} 
	</label>
	{{/if}}
	
	<select id="{{id('select')}}">
		<option>Dog</option>
		<option>Cat</option>
		<option>Bird</option>
	</select>
</script>

<script id="ampere_theme_mobile_view_default" type="text/x-jquery-tmpl">
	<div>
	</div>
</script>

<script id="ampere_theme_mobile_layout_default" type="text/x-jquery-tmpl">
	<div data-role="header" class="header ui-widget-header ui-corner-all">
			${state.module.options( 'title')} {{if state.options( 'title')}} - ${state.options( 'title')} {{/if}}
	</div>
	<form data-role="content" onsubmit="return false" class="state ${state.options( 'name')}">		
		<div class="body">
			<div class="ampere view ${options( 'name')}">
				{{view}}
			</div>
		</div>
	</form>
	<div data-role="footer" class="footer ui-widget-header ui-corner-all">
		{{history( state.module)}}
		<div class="transitions buttonset">
		{{each state.transitions}}
			{{if $value.options('type')=='primary'}}
				{{transition( $value)}}
			{{/if}}
		{{/each}}			
		</div>
	</div>
</script>