<!--
  Copyright (c) 2011 Lars Gersmann (lars.gersmann@gmail.com, http://orangevolt.blogspot.com)
  Dual licensed under the MIT (http://www.opensource.org/licenses/mit-license.php)
  and GPL (http://www.opensource.org/licenses/gpl-license.php) licenses.
-->
<!--
<script id="ampere_theme_fragment_transition" type="text/x-jquery-tmpl">
	{{if !$item.layout || $item.layout=='button'}}
	<button 
		class="transition ${options('name')}" 
		type="button"
		data-options='{ {{if options('icon')}}"icons" : { "primary" : "${options('icon')}"} {{/if}} {{if !$data.options('label')}}${ options('icon') ? ', ' : ''} "text" : false{{/if}} }'
		{{if $data.disabled()}} 
			disabled="disabled"
		{{/if}}	
	>
		${options( 'label')} 
	</button>
	{{/if}}
</script>
-->
<!--
<script id="ampere_theme_fragment_reset" type="text/x-jquery-tmpl">
	<button 
		class="reset" 
		type="button"
		data-options='{ "icons" : { "primary" : "ui-icon-refresh"}, "text" : false}'
		title="Reset"
		onclick="$.ampere.getViewTmplItem( $.tmplItem( this)).data.reset( this)"
		disabled="disabled"
	>&nbsp;</button>
</script>
-->
<script id="ampere_theme_fragment_history" type="text/x-jquery-tmpl">
	{{if history}} 
	<div class="history group">
		<button 
			class="undo" 
			type="button"
			data-options='{ "icons" : { "primary" : "ui-icon-triangle-1-w"}, "text" : false}'
			title="Undo"
			{{if history.canUndo()}}
			onclick="$(this).module().history.undo()"
			{{else}}
			disabled="disabled"
			{{/if}}
		>&nbsp;</button>
		<button 
			class="redo" 
			type="button"
			data-options='{ "icons" : { "primary" : "ui-icon-triangle-1-e"}, "text" : false}'
			title="Redo"
			{{if history.canRedo()}}
			onclick="$(this).module().history.redo()"
			{{else}}
			disabled="disabled"
			{{/if}}			
		>&nbsp;</button>
	</div>
	{{/if}}
</script>
<!--
<script id="ampere_theme_fragment_radio" type="text/x-jquery-tmpl">
	<dt>	
		<label for="{{id( 'radio')}}">
		${ $data.label || $.ampere.ucwords(($data.value || '&nbsp;'))}
		</label>
	</dt>
	<dd>
	<input 
		type="radio" 
		name="${ name}" 
		id="{{id( 'radio')}}"
		data-options='{ {{if $data.icon}}"icons" : { "primary" : "${ $data.icon}"} {{/if}} {{if !$data.label}}${ $data.icon ? ',' : ''} "text" : false{{/if}} }'
		value="${ $data.value || ($data.label || 'on').toLowerCase()}"
	/>
	</dd>
</script>
-->
<!--
<script id="ampere_theme_fragment_checkbox" type="text/x-jquery-tmpl">
	<dt>
		<label for="{{id( 'checkbox')}}">
		${ $data.label || '&nbsp;'} 
		</label>
	</dt>
	<dd>
	<input 
		type="checkbox" 
		name="${ name}" 
		id="{{id( 'checkbox')}}"
		data-options='{ {{if $data.icon===undefined || $data.icon}}"icons" : { "primary" : "${ $data.icon || 'ui-icon-check'}"} {{/if}} {{if !$data.label}}, "text" : false{{/if}} }'
		value="${ ($data.value || true).toLowerCase()}"
	/>
	</dd>
</script>
-->
<!--
<script id="ampere_theme_fragment_select" type="text/x-jquery-tmpl">
	<dt>
		{{if $data.label}}
		<label for="{{id( 'select')}}">
		${ $data.label} 
		</label>
		{{/if}}
	</dt>
	<dd>	
		<select id="{{id('select')}}">
			<option>Dog</option>
			<option>Cat</option>
			<option>Bird</option>
		</select>
	</dd>
</script>
-->

<script id="ampere_theme_view_default" type="text/x-jquery-tmpl">
	<div>
	</div>
</script>

<script id="ampere_theme_layout_default" type="text/x-jquery-tmpl">
	<div class="header ui-widget-header ui-corner-bottom1">
			{{if state.module.options( 'icon')}}	
				<span class="icon ui-icon ${state.module.options( 'icon')}">&nbsp</span>	
			{{/if}}
			<div class="label">
				${state.module.options( 'label')} {{if state.options( 'label')}} - ${state.options( 'label')} {{/if}}
			</div>
			<div class="controls">  
				{{history( state.module)}}
				{{button({ icon:'ui-icon-refresh', label:false, disabled:reset.disabled, onclick:reset})}}
			</div>
	</div>
	<div class="body">
		<form onsubmit="return false" class="state ${state.options( 'name')}"  autocomplete="off">		
				<div class="ampere view ${options( 'name')}">
					{{view}}
				</div>
		</form>
	</div>
	{{if state.hasTransitions( 'primary') || state.module.options( 'about')}}
	<div class="footer ui-widget-header ui-corner-top1">
		{{if state.hasTransitions( 'primary')}}
		<div class="controls">
			<div class="transitions group">
			{{each state.transitions}}
				{{if $value.options('type')=='primary'}}
					{{transition( $value)}}
				{{/if}}
			{{/each}}			
			</div>
		</div>
		{{/if}}
		{{if state.module.options( 'about')}}
			<div class="about">
				{{ready state.module.options( 'about')}}
			</div>
		{{/if}}		
	</div>
	{{/if}}	
</script>