<blockquote cite="http://example.com/facts">
	Cron is the name of program that enables unix users to execute commands or scripts (groups of commands) automatically at a specified time/date. It is normally used for sys admin commands, like makewhatis, which builds a search database for the <code>man -k</code> command, or for running a backup script, but can be used for anything. A common use for it today is connecting to the internet and downloading your email.
</blockquote>
<form>
	<label>
		Your crontab file contents <em style="color:green" ng-show="$window.nw">(read from your local <strong>/etc/crontab</strong> file)</em>
		<textarea 
			class="input-block-level html5validation-title"
			autofocus
			rows="5"
			placeholder="Place your crontab here ..."
			ng-model="contents"
			ng-ampere-validate="validate"
			ng-ampere-data="{
				content		: $( '#main_popover').text(),
				html		: true,
				title		: 'Where can I find the crontab file ?',
				trigger		: 'focus',
				placement	: 'top'
			}"
			onclick="$( this).popover( 'show')"
		></textarea>
	</label>
	<div class="help-block description">
		Please note that only numerical crontab entries are supported (i.e. <code>Sunday, sun, jan</code> synonyms are unsupported yet)
	</div>
	<submit ng-ampere-transition="$ampere.view.state().transitions.edit"/>
	<div class="help-block error">
		{{$('textarea').validationMessage()}}
	</div>
</form>
<script id="main_popover" type="text/template">
	<div class="p">
		The <code>crontab</code> file is usually available on <strong>*nix</strong> like systems.
	</div>
	<div class="p">
		The file can be found at <code>/etc/crontab</code>.
	</div>
</script>