<div class="ng-cloak ampere-module" nng-app="window.ov.ampere.ui.twitterbootstrap" ng-controller="amperetwitterbootstrap">
	<div
		class="navbar navbar-inverse navbar-fixed-top"
		ng-show="$ampere.ui.getCaption( $ampere.module) || $ampere.module.options( 'ampere.ui.about.caption') || $ampere.ui.getTransitions({ 'ampere.ui.type':'global'}).length"
	>

    	<div class="navbar-inner">
       		<div class="container">
         		<a
         			class="btn btn-navbar"
         			data-toggle="collapse"
         			data-target=".nav-collapse"
         			ng-show="$ampere.ui.getTransitions({ 'ampere.ui.type':'global'}).length"
         		>
           			<span class="icon-bar"></span>
           			<span class="icon-bar"></span>
           			<span class="icon-bar"></span>
         		</a>

         		<span ng-switch on="$ampere.module.options( 'ampere.ui.about.url') | type">
         			<a ng-switch-when="transition" class="brand" ng-ampere-transition="$ampere.module.options( 'ampere.ui.about.url')"></a>

			        <a ng-switch-default class="brand" href="{{$ampere.module.options( 'ampere.ui.about.url')}}" target="_blank">
			        	{{$ampere.ui.getCaption( $ampere.module) || $window.ov.ampere.util.ucwords( $ampere.module.options( 'ampere.ui.about.caption'))}}
			        </a>
				</span>

       		 	<div class="nav-collapse">
	           		<ul class="nav">
	           			<li ng-class="{disabled : !transition.enabled(), active : transition.active()}"
	           				ng-repeat="transition in $ampere.ui.getTransitions({ 'ampere.ui.type':'global'})">
	           				<a ng-ampere-transition="transition"></a>
	           			</li>
	           		</ul>
	         	</div>
    	   </div>
		</div>
	</div>
	<div class="container">
		<header ng-show="$ampere.ui.getDescription( $ampere.module) || $ampere.ui.getCaption( $ampere.module) || $ampere.ui.getTransitions({ 'ampere.ui.type':'primary'}).length || $ampere.ui.getTransitions({ 'ampere.ui.type':'secondary'}).length">
			<h1>{{$ampere.ui.getCaption( $ampere.module)}}</h1>
			<div class="lead" ng-bind-html-unsafe="$ampere.ui.getDescription( $ampere.module)"></div>

			<ul class="breadcrumb" ng-show="$ampere.ui.getTransitions({ 'ampere.ui.type':'breadcrumb'}).length">
				<li ng-repeat="transition in $ampere.ui.getTransitions({ 'ampere.ui.type':'breadcrumb'})" ng-class="{disabled : !transition.enabled(), active : transition.active()}">
		          	<a ng-ampere-transition="transition"></a>
		          	<span ng-show="!$last" class="divider">/</span>
		        </li>
			</ul>

			<div class="navbar subnav" ddata-top="40" ng-show="$ampere.ui.getTransitions({ 'ampere.ui.type':'primary'}).length || $ampere.ui.getTransitions({ 'ampere.ui.type':'secondary'}).length">
				<div class="navbar-inner">
			          <ul class="nav">
			          	<li ng-repeat="transition in $ampere.ui.getTransitions({ 'ampere.ui.type':'primary'})" ng-class="{disabled : !transition.enabled(), active : transition.active()}">
			          		<a ng-ampere-transition="transition"></a>
			          	</li>
			          	<li class="dropdown" ng-show="$ampere.ui.getTransitions({ 'ampere.ui.type':'secondary'}).length">
						    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
						      {{$ampere.ui.getCaption( $ampere.view.state())}}
						      <b class="caret"></b>
						    </a>
						    <ul class="dropdown-menu">
						    	<li ng-repeat="transition in $ampere.ui.getTransitions({ 'ampere.ui.type':'secondary'})" ng-class="{disabled : !transition.enabled(), active : transition.active()}">
					          		<a ng-ampere-transition="transition"></a>
					          	</li>
						    </ul>
						  </li>
			          </ul>
			    </div>
	        </div>
		</header>
		<section class="ampere-state name-{{$ampere.view.state().name()}}">
			<div ng-class="{ 'view-empty' : $ampere.template==''}" class="page-header" ng-show="$ampere.ui.getDescription( $ampere.view) || $ampere.ui.getCaption( ($ampere.view.name()!='main' && $ampere.view) || $ampere.view.state())">
		    	<h2 ng-show="$ampere.ui.getCaption( ($ampere.view.name()!='main' && $ampere.view) || $ampere.view.state()) || $ampere.ui.getIcon( $ampere.view)">
		    		<i ng-show="$ampere.ui.getIcon( $ampere.view)" ng-class="$ampere.ui.getIcon( $ampere.view)"></i>
		    		{{$ampere.ui.getCaption( ($ampere.view.name()!='main' && $ampere.view) || $ampere.view.state())}}
		    		<a ng-show="$ampere.ui.getTransitions( {'ampere.ui.hotkey' : $ampere.ui.regexp( '.+')}).length" ng-click="$ampere.ui.toggleHelp()" title="Help" class="icon-question-sign"></a>
		    	</h2>
		    	<div class="ampere-help">
		    		<div class="hotkeys">
						<!--  <span>Available hotkeys:</span>  -->
			    		<ul class="hotkeys">
			    			<li ng-class="{disabled : !transition.enabled()}" ng-repeat="transition in $ampere.ui.getTransitions( {'ampere.ui.hotkey':$ampere.ui.regexp( '.+')})">
						    	<kbd>{{$ampere.ui.getHotkey( transition)}}</kbd>
						    	<i class=" icon-arrow-right"></i>
						    	<a ng-ampere-transition="transition"></a>
						    	<div class="description" ng-bind-html-unsafe="$ampere.ui.getDescription( transition)"></div>
						    </li>
			    		</ul>
			    	</div>
		    	</div>
		    	<div ng-bind-html-unsafe="$ampere.ui.getDescription( $ampere.view)"></div>
		  	</div>
		  	<div ng-ampere-state="" class="ampere-view name-{{$ampere.view.name()}}"></div>
		</section>
		<footer ng-show="$ampere.ui.getAbout( $ampere.module)">
			<hr>
			<div ng-bind-html-unsafe="$ampere.ui.getAbout( $ampere.module)"></div>
		</footer>
	</div>
	<div class="overlay"></div>
	<div class="container flash">
		<div class="alert alert-info alert-block fade in">
			<button type="button" class="close">×</button>
			<div class="message"></div>
			<div class="progress progress-striped active">
				<div class="bar" style="width: 100%;"></div>
			</div>
		</div>
	</div>
</div>