<table class="crud table">
	<thead ng-show="list.headers().length">
		<th
			ng-repeat="header in list.headers()"
			ng-click="header.orderBy && list.sortable( header.orderBy, !list.sortable().reverse)"
			ng-ampere-template="header.template"
			ng-class="header.orderBy && 'sortable'">
			<i
				class="orderby"
				ng-class="{
				'icon-empty' 		: header.orderBy!=list.sortable().orderBy,
				'icon-caret-up' 	: header.orderBy==list.sortable().orderBy && list.sortable().reverse,
				'icon-caret-down'	: header.orderBy==list.sortable().orderBy && !list.sortable().reverse
				}">
			</i>
		</th>
	</thead>
	<tbody>
		<tr
			ng-ampere-template="list.addable() && list.addable().item!=undefined && !list.addable().index && { replace : list.addable().template}"
		>
		</tr>
		<tr
			ng-init="$.inArray( list.selection(), list.get())!=-1 || list.selection( $window.ov.entity.first( list.get()))"
			ng-repeat="item in (list.rows = (list.get() | filter:list.filter() | orderBy:list.sortable().orderBy:list.sortable().reverse))"
			ng-mousedown="(!list.addable() || list.addable().item==undefined) && (!list.editable() || list.editable().item==undefined) && list.selection( item)"
			ng-class="{
				item							: (!list.editable() || list.editable().item!=item) && (!list.addable() || list.addable().item!=item),
				active							: list.selection()==item,
				'ng-ampere-sortable-nohandle'	: list.editable() && list.editable().item==item
			}"
			data-position="{{list.get() | indexof:item}}"
			ng-ampere-dblclick="list.editable() && list.editable().transition || false"
			ng-ampere-template="list.editable() && list.editable().item!=undefined && item==list.selection() && { replace : list.editable().template}"
		>
			<td ng-repeat="column in list.columns()" ng-ampere-template="column.template">
				<span ng-switch on="$last && (list.removable() | type)">
					<a ng-switch-when="object" class="hover pull-right" ng-ampere-transition="list.removable().transition"></a>
				</span>
				<span ng-switch on="$last && (list.editable() | type)">
					<a ng-switch-when="object" class="hover pull-right" ng-ampere-transition="list.editable().transition"></a>
				</span>
			</td>
		</tr>
		<tr
			ng-ampere-template="list.addable() && list.addable().item!=undefined && list.addable().index && { replace : list.addable().template}"
		>
		</tr>
		<tr class="no-items" ng-hide="list.get().length">
			<td class="ng-ampere-sortable-nohandle" colspan="{{list.columns().length}}">
				{{list.options( 'list-empty.message')}}
			</td>
		</tr>
		<tr class="no-matches" ng-show="list.get().length && !list.rows.length">
			<td class="ng-ampere-sortable-nohandle" colspan="{{list.columns().length}}">
				{{list.options( 'list-nomatches.message')}}
			</td>
		</tr>
	</tbody>
</table>