<!--
  Copyright (c) 2011 Lars Gersmann (lars.gersmann@gmail.com, http://orangevolt.blogspot.com)
  Dual licensed under the MIT (http://www.opensource.org/licenses/mit-license.php)
  and GPL (http://www.opensource.org/licenses/gpl-license.php) licenses.
-->
<!--
<script id="ampere_theme_fragment_transition" type="text/x-jquery-tmpl">
	{{if !$item.layout || $item.layout=='button'}}
	<button 
		class="transition ${options('name')}" 
		type="button"
		data-options='{ {{if options('icon')}}"icons" : { "primary" : "${options('icon')}"} {{/if}} {{if !$data.options('title')}}${ options('icon') ? ', ' : ''} "text" : false{{/if}} }'
		{{if !$data.isEnabled()}} {{! if !isEnabled() fails right now : see https://github.com/jquery/jquery-tmpl/issues/issue/40/#comment_658509}}
			disabled="disabled"
		{{/if}}	
	>
		${options( 'title')} 
	</button>
	{{/if}}
</script>
-->
<script id="ampere_theme_fragment_reset" type="text/x-jquery-tmpl">
	<button 
		class="reset" 
		type="button"
		data-options='{ "icons" : { "primary" : "ui-icon-refresh"}, "text" : false}'
		title="Reset"
		onclick="$.ampere.getViewTmplItem( $.tmplItem( this)).data.reset( this)"
		disabled="disabled"
	>&nbsp;</button>
</script>

<script id="ampere_theme_fragment_history" type="text/x-jquery-tmpl">
	{{if history}} 
	<div class="history buttonset">
		<button 
			class="undo" 
			type="button"
			data-options='{ "icons" : { "primary" : "ui-icon-triangle-1-w"}, "text" : false}'
			title="Undo"
			{{if history.canUndo()}}
			onclick="$(this).module().history.undo()"
			{{else}}
			disabled="disabled"
			{{/if}}
		>&nbsp;</button>
		<button 
			class="redo" 
			type="button"
			data-options='{ "icons" : { "primary" : "ui-icon-triangle-1-e"}, "text" : false}'
			title="Redo"
			{{if history.canRedo()}}
			onclick="$(this).module().history.redo()"
			{{else}}
			disabled="disabled"
			{{/if}}			
		>&nbsp;</button>
	</div>
	{{/if}}
</script>
<!--
<script id="ampere_theme_fragment_radio" type="text/x-jquery-tmpl">
	<label for="{{id( 'radio')}}">
	${ $data.label || $.ampere.ucwords(($data.value || '&nbsp;'))}
	</label>
	<input 
		type="radio" 
		name="${ name}" 
		id="{{id( 'radio')}}"
		data-options='{ {{if $data.icon}}"icons" : { "primary" : "${ $data.icon}"} {{/if}} {{if !$data.label}}${ $data.icon ? ',' : ''} "text" : false{{/if}} }'
		value="${ $data.value || ($data.label || 'on').toLowerCase()}"
	/>
</script>
-->
<!--
<script id="ampere_theme_fragment_checkbox" type="text/x-jquery-tmpl">
	 
	<label for="{{id( 'checkbox')}}">
	${ $data.label || '&nbsp;'} 
	</label>
	
	<input 
		type="checkbox" 
		name="${ name}" 
		id="{{id( 'checkbox')}}"
		data-options='{ {{if $data.icon===undefined || $data.icon}}"icons" : { "primary" : "${ $data.icon || 'ui-icon-check'}"} {{/if}} {{if !$data.label}}, "text" : false{{/if}} }'
		value="${ ($data.value || true).toLowerCase()}"
	/>
</script>
-->
<!--
<script id="ampere_theme_fragment_select" type="text/x-jquery-tmpl">
	{{if $data.label}}
	<label for="{{id( 'select')}}">
	${ $data.label} 
	</label>
	{{/if}}
	
	<select id="{{id('select')}}">
		<option>Dog</option>
		<option>Cat</option>
		<option>Bird</option>
	</select>
</script>
-->
<script id="ampere_theme_view_default" type="text/x-jquery-tmpl">
	<div>
	</div>
</script>

<script id="ampere_theme_layout_default" type="text/x-jquery-tmpl">
	<div class="header ui-widget-header ui-corner-all">
			<div class="title">
				${state.module.options( 'title')} {{if state.options( 'title')}} - ${state.options( 'title')} {{/if}}
			</div>
			{{history( state.module)}}
			{{reset( state.module)}}
	</div>
	<form onsubmit="return false" class="state ${state.options( 'name')}">		
		<div class="body">
			<div class="ampere view ${options( 'name')}">
				{{view}}
			</div>
		</div>
	</form>
	<div class="footer ui-widget-header ui-corner-all">
		<div class="transitions buttonset">
		{{each state.transitions}}
			{{if $value.options('type')=='primary'}}
				{{transition( $value)}}
			{{/if}}
		{{/each}}			
		</div>
	</div>
</script>